<!-- Resume modal -->

<section id="resume" class="group">
  <section class="modal">
    <article class="modal-box">
      <span class="modal-close-button"><a href="#close_resume">&times;</a></span>

      <div id="my-resume">
        <object src="/assets/MichaelsonResume.pdf" type="application/pdf" width="100%" height="100%"></object>
      </div>
    </article>
  </section>
</section>

<!-- End of resume -->

<section id="header" class="group">
  <%= link_to "Home", '/' %>
  <!-- <h1>Insert Icon Here</h1> -->
  <ul class="group">
    <li><%= link_to "Email", "mailto:Sarah.Michaelson@gmail.com" %></li>
    <li><%= link_to "Github", "https://github.com/skmichaelson" %></li>
    <li><%= link_to "LinkedIn", "http://www.linkedin.com/in/skmichaelson" %></li>
    <li><%= link_to "Resume", "#resume" %></li>
  </ul>
</section>

<main class="group">

  <div id="florish" class="group">
    <%= image_tag 'paisley.png' %>
    <section id="sidebar">
      <div id="name-position">
        <%= image_tag 'parkbench.jpg' %>

        <div id="caption-top">
          Sarah K Michaelson
        </div>

        <div id="caption-bottom">
          Web Developer
        </div>
      </div>

      <ul class="group">
        <li><%= link_to "About Me", "#about_me" %></li>
        <li><%= link_to "Projects", "#projects" %></li>
        <li><%= link_to "Resume", "#resume" %></li>
        <li><%= link_to "Contact", "#contact" %></li>
      </ul>
    </section>
  </div>

  <section class="group" id="display">
  </section>

<!-- Footer -->

</main>

<style>
  #footer {
    border: 1px solid black;
    width: 900px;
    margin: 0px auto;
    background-color: #102E02;
    color: #CCC;
    display: block;
    margin-bottom: 50px;
    height: 40px;
  }

</style>

  <section id="footer">
    <!-- <h1>Footer</h1> -->
  </section>