<section id="header" class="group">
  <h1>Insert Icon Here</h1>
  <ul class="group">
    <li><%= link_to "Email", "mailto:Sarah.Michaelson@gmail.com" %></li>
    <li><%= link_to "Github", "https://github.com/skmichaelson" %></li>
    <li><%= link_to "LinkedIn", "www.linkedin.com/in/skmichaelson" %></li>
    <li><%= link_to "Resume", "#" %></li>
  </ul>
</section>

<main class="group">

<!-- Sidebar -->

<style>
  #sidebar {
    margin: 0px;
    width: 210px;
    background-color: #AEC9A1;
    color: #111;
    padding: 10px;
  }

  #sidebar li > a {
    border-bottom: 1px solid black;
    padding: 10px 5px;
    margin: 0px 5px;
    display: block;
  }

  #sidebar li > a:hover {
    background-color: #8FA883
  }

  #florish {
    z-index: -1;
    width: 230px;
    border: 20px solid black;
    border-radius: 10px;
    float: left;
  }

  #name-position {
    display: block;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    margin: 0px auto;
    background-color: #eee;
  }

</style>

  <div id="florish" class="group">
    <section id="sidebar">
      <div id="name-position">
        Sarah K Michaelson
        Web Developer
      </div>

      <ul class="group">
        <li><%= link_to "About Me", "#" %></li>
        <li><%= link_to "Projects", "#" %></li>
        <li><%= link_to "Resume", "#" %></li>
        <li><%= link_to "Contact", "#" %></li>
      </ul>
    </section>
  </div>

<!-- About me -->

  <section class="group profile-info">
    <h1>About Me<h1>

    <div id="bio">
    </div>

  </section>

<!-- Projects -->

  <section id="projects" class="group profile-info">
    <h1>Projects</h1>

    <div id="app-data">
    </div>
  </section>

<!-- Resume -->

  <section id="resume" class="group profile-info">
    <h1>Resume</h1>

    <div id="my-resume">
    </div>
  </section>

<!-- Contact -->

  <section id="contact" class="group profile-info">
    <h1>Contact</h1>

    <form id="contact-me" action="<%= send_message_contents_url %>" method="POST">
    </form>
  </section>

<!-- Footer -->

</main>

<style>
  #footer {
    border: 1px solid black;
    width: 900px;
    margin: 0px auto;
    background-color: #102E02;
    color: #CCC;
    display: block;
    margin-bottom: 50px;
    height: 40px;
  }

</style>

  <section id="footer">
    <h1>Footer</h1>
  </section>